CONFIG_LV_FONT_MONTSERRAT_14=y
CONFIG_LV_FONT_MONTSERRAT_20=y
CONFIG_LV_FONT_MONTSERRAT_30=y
CONFIG_LV_FONT_MONTSERRAT_40=y

CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192    # To use http and parse JSON text, a larger stack is required